@font-face {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	src: url("type/Vollkorn-Regular.ttf");
}

body {
	font-family: 'Vollkorn', serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

content {
	max-width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 1.4;
	text-align: justify;
}

svg {
	display: block;
	vertical-align: top;
}

svg .deactivated {
	stroke: #f2e6ff;
}


svg text {
	font-family: Arial, Helvetica, "sans-serif";
	font-size: 18px;
	fill: #400080;
}

svg text.title {
	font-size: 22px;
	font-style: italic;
	fill: #400080;
}

svg text.active {
    font-weight: 600;
}


svg line {
	stroke: #400080;
	stroke-width: 3;
	stroke-linecap: round;
    transition: 1000ms;
}

svg line.active {
	stroke-width: 4;
}

.svgContainer {
	display: flex;
	justify-content: center;
}